[submodule "components/daplink-esp"]
	path = components/swd_esp
  	url = https://github.com/huming2207/swd-esp
[submodule "components/arduino_json"]
	path = components/arduino_json
	url = https://github.com/bblanchon/ArduinoJson
[submodule "main/external/elfio"]
	path = main/external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "components/ina228"]
	path = components/ina228
	url = https://github.com/huming2207/esp-ina228
[submodule "components/esp-mqtt"]
	path = components/esp-mqtt
	url = https://github.com/espressif/esp-mqtt.git
[submodule "components/soulinjector-fw-common"]
	path = components/soulinjector-common
	url = https://github.com/huming2207/soulinjector-fw-common.git
[submodule "external/esp-bsp"]
	path = external/esp-bsp
	url = https://github.com/espressif/esp-bsp
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
