[submodule "components/daplink-esp"]
	path = components/daplink-esp
  	url = git@github.com:huming2207/swd-esp.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
[submodule "components/lua"]
	path = components/lua
	url = https://github.com/UncleRus/esp-idf-lua.git
[submodule "components/arduino_json"]
	path = components/arduino_json
	url = https://github.com/bblanchon/ArduinoJson
[submodule "main/external/elfio"]
	path = main/external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "components/ina228"]
	path = components/ina228
	url = git@github.com:huming2207/esp-ina228.git
