# Soul Injector Rev 3 hardware defaults.
CONFIG_SI_DEVICE_BUILD="3.0"
CONFIG_SI_DISP_ENABLE=n
CONFIG_SI_LED_SIGNAL_PIN=10
CONFIG_ESP_SWD_BOOT_PIN=11
CONFIG_ESP_SWD_NRST_PIN=12
CONFIG_ESP_SWD_CLK_PIN=13
CONFIG_ESP_SWD_IO_PIN=14
