# Soul Injector Rev 6 hardware defaults.
CONFIG_SI_DEVICE_BUILD="6.0"

# Rev 6 NT279VJ-C10-01-V1 display.
CONFIG_SI_DISP_ENABLE=y
CONFIG_SI_DISP_PANEL_NT279VJ=y
CONFIG_SI_DISP_PANEL_IO_SCLK=2
CONFIG_SI_DISP_PANEL_IO_MOSI=1
CONFIG_SI_DISP_PANEL_IO_RST=41
CONFIG_SI_DISP_PANEL_IO_DC=42
CONFIG_SI_DISP_PANEL_IO_CS=40
CONFIG_SI_DISP_PANEL_BKL=38
CONFIG_SI_DISP_PANEL_PWR=-1
CONFIG_SI_DISP_PANEL_BUFFER_SIZE=60776
CONFIG_SI_LED_ENABLE=n
CONFIG_SI_TARGET_DETECT_PIN=9
CONFIG_SI_SG_PROG_RIG=n

CONFIG_LV_USE_LOG=y
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# Rev 6 uses split SWDIO signals through SN74AXC2T245 translators.
CONFIG_ESP_SWD_PHY_AXC2T245=y
CONFIG_ESP_SWD_CLK_PIN=6
CONFIG_ESP_SWD_DATA_OUT_PIN=8
CONFIG_ESP_SWD_DATA_IN_PIN=18
CONFIG_ESP_SWD_DATA_NOE_PIN=15
CONFIG_ESP_SWD_DATA_DIR1_PIN=17
CONFIG_ESP_SWD_DATA_DIR2_PIN=16
CONFIG_ESP_SWD_CLK_NOE_PIN=4
CONFIG_ESP_SWD_NRST_PIN=7
CONFIG_ESP_SWD_BOOT_PIN=5
CONFIG_ESP_SWD_DEFAULT_CLOCK_HZ=500000
CONFIG_ESP_SWD_TURNAROUND_DELAY_US=1
CONFIG_ESP_SWD_USE_DEDICATED_GPIO=y
