# Soul Injector Rev 5 hardware defaults.
CONFIG_SI_DEVICE_BUILD="5.0"
CONFIG_SI_DISP_ENABLE=y
CONFIG_SI_DISP_PANEL_NFP114H=y
CONFIG_SI_DISP_PANEL_IO_SCLK=40
CONFIG_SI_DISP_PANEL_IO_MOSI=39
CONFIG_SI_DISP_PANEL_IO_RST=45
CONFIG_SI_DISP_PANEL_IO_DC=42
CONFIG_SI_DISP_PANEL_IO_CS=41
CONFIG_SI_DISP_PANEL_BKL=47
CONFIG_SI_DISP_PANEL_PWR=-1
CONFIG_SI_DISP_PANEL_BUFFER_SIZE=32400
CONFIG_SI_LED_SIGNAL_PIN=48
CONFIG_SI_SG_PROG_RIG=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_26=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_30=y
CONFIG_LV_FONT_MONTSERRAT_32=y
CONFIG_LV_FONT_MONTSERRAT_34=y
CONFIG_LV_FONT_MONTSERRAT_36=y
CONFIG_LV_FONT_MONTSERRAT_38=y
CONFIG_LV_FONT_MONTSERRAT_40=y
CONFIG_LV_FONT_MONTSERRAT_42=y
CONFIG_LV_FONT_MONTSERRAT_44=y
CONFIG_LV_FONT_MONTSERRAT_46=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_TXT_BREAK_CHARS=" ,.;:-_"
CONFIG_LV_USE_QRCODE=y
CONFIG_LV_USE_SNAPSHOT=y
CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_ESP_SWD_CLK_PIN=16
CONFIG_ESP_SWD_IO_PIN=17
CONFIG_ESP_SWD_NRST_PIN=15
CONFIG_ESP_SWD_BOOT_PIN=18
